@use "../utils/variables" as *;

:root {
  --animation-duration: #{$duration};
  --hover-color: #{$color-accent};
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $color-white;
}

a {
  transition:
    color var(--animation-duration),
    box-shadow var(--animation-duration),
    transform var(--animation-duration);
}
