@use '../utils/mixins' as *;

.bike {
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;

    width: 100%;
    max-width: 1020px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .section__text {
      margin: 8px 0 0;
      font-size: 16px;
      line-height: 1.4;
    }
  }

  @include on-tablet {
    &__cards {
      grid-template-columns: 1fr;
      gap: 40px;

      box-sizing: border-box;
      width: 100%;
      max-width: none;
      padding: 0 20px;
    }
  }

  @include on-mobile {
    &__cards {
      grid-template-columns: 1fr;
      gap: 40px;

      box-sizing: border-box;
      width: 100%;
      max-width: none;
      padding: 0 20px;
    }
  }

  @include on-phone {
    &__cards {
      grid-template-columns: 1fr;
      gap: 32px;

      box-sizing: border-box;
      max-width: 100%;
      padding: 0 20px;
    }
  }
}
