@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.contact {
  display: grid;
  gap: 24px;
  align-content: start;

  &__label {
    margin: 0 0 8px;
    font-size: 16px;
    line-height: 1.4;
  }

  &__value {
    display: block;

    margin: 0;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: $color-white;
    text-decoration: none;

    &:hover {
      color: var(--hover-color);
    }
  }

  @include on-mobile {
    &__value {
      font-size: 16px;
    }
  }
}
