@use '../utils/mixins' as *;

.feature {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;

  &__text {
    max-width: 680px;
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
  }

  @include on-mobile {
    font-size: 20px;

    &__text {
      font-size: 14px;
    }
  }
}
