@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  padding-top: 80px;
  background-color: $color-dark;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 160px;
    row-gap: 48px;
    max-width: $content-width;
    margin: 0 auto 100px;
    padding: 0 20px;
  }

  &__title {
    grid-column: 1 / -1;
    margin: 0;
    font-size: 64px;
    line-height: 1;
    text-align: center;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__image-link {
    width: 100%;
  }

  @include on-tablet {
    &__content {
      column-gap: 96px;
      padding: 0 72px;
    }
  }

  @include on-mobile {
    padding-top: 60px;

    &__content {
      grid-template-columns: 1fr;
      gap: 32px;
      margin-bottom: 60px;
      padding: 0 20px;
    }

    &__title {
      font-size: 32px;
    }
  }

  @include on-phone {
    &__content {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
