.icon {
  display: block;
  width: 24px;
  height: 24px;

  &--phone {
    background-image: url('../images/icon-phone-call.png');
    background-position: center;

    &:hover {
      color: var(--hover-color);
    }
  }

  &--menu {
    background-image: url('../images/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  &--close {
    background-image: url('../images/Vector-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }
}
