.image-link {
  display: block;
  overflow: hidden;
  color: inherit;
  text-decoration: none;

  img {
    transition: transform var(--animation-duration);
  }

  &:hover img {
    transform: scale(1.06);
  }

  &--wide {
    grid-column: span 2;
  }
}
