@use '../utils/variables' as *;

.page {
  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    overflow-x: hidden;
    margin: 0;
    font-family: $font-main;
    background-color: $color-dark;
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    opacity: 0;

    &:target {
      pointer-events: all;
      opacity: 1;
    }
  }
}
