@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.section {
  &__image {
    display: block;
    width: 100%;
    max-width: 324px;
    height: auto;
  }

  &__name,
  &__price {
    margin: 24px 0 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
  }

  &__details {
    padding: 80px 20px;
  }

  &--move {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
  }

  &--move-title {
    flex: 1;
    font-size: 64px;
  }

  &--move-text {
    flex: 1;
    max-width: 500px;
    line-height: 140%;
    font-size: 23px;
    font-weight: 500;
  }

  &--bike {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
  }

  &--bike--title {
    margin: 0 0 48px;
    font-size: 48px;
    line-height: 1;
    text-align: center;
  }

  @media (max-width: 900px) {
    &--bike--title {
      font-size: 36px;
    }
  }

  @include on-tablet {
    &--move {
      gap: 48px;
      padding: 80px 72px;
    }

    &--move-title {
      font-size: 48px;
    }

    &--move-text {
      font-size: 22px;
    }

    &--bike,
    &__details {
      padding-right: 72px;
      padding-left: 72px;
    }
  }

  @include on-mobile {
    &--move {
      display: grid;
      gap: 32px;
      padding: 60px 20px;
    }

    &--move-title {
      margin: 0;
      font-size: 32px;
    }

    &--move-text {
      margin: 0;
      font-size: 20px;
    }

    &--bike,
    &__details {
      padding: 60px 20px;
    }

    &--bike--title {
      margin-bottom: 40px;
      font-size: 32px;
    }

    &__image {
      max-width: none;
    }
  }

  @include on-phone {
    &--move,
    &--bike,
    &__details {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
